@tailwind base;
@tailwind components;
@tailwind utilities;

:root .theme-1 {
    --tw-text-opacity: 1;
    --color-primary-50: 235,242,254;
    --color-primary-100: 215,230,253;
    --color-primary-200: 176,205,251;
    --color-primary-300: 137,180,250;
    --color-primary-400: 98,155,248;
    --color-primary-500: 31, 63, 253;
    --color-primary-600: 11,97,238;
    --color-primary-700: 8,75,184;
    --color-primary-800: 6,53,131;
    --color-primary-900: 4,31,77;
}

canvas{
  clip-path: inset(0% 0% 0% 0% round 10px);
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(200, 200, 200);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #683bf4;
  }